@import '~antd/dist/antd.css';

.main {
  display: flex;
}

.ant-divider-vertical {
  border-left: 1px solid black;
}

.ant-layout-header {
  padding: 0 16px;
  font-size: 18px;
  font-weight: 600;
  background: #fff;
}
